.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 920px;
}

.u-section-1 .u-image-1 {
  width: 584px;
  height: 372px;
  margin: 133px auto 0 52px;
}

.u-section-1 .u-shape-1 {
  width: 545px;
  height: 281px;
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: -326px 9px 0 587px;
}

.u-section-1 .u-group-1 {
  width: 499px;
  min-height: 253px;
  height: auto;
  margin: -267px 21px 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: Mulish;
  font-size: 2.4375rem;
  margin: 22px 111px 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.4;
  font-family: Mulish;
  margin: 22px 24px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-family: Mulish;
  width: 70px;
  margin: 126px auto 0;
}

.u-section-1 .u-text-4 {
  font-family: Mulish;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 7px 74px 0;
}

.u-section-1 .u-text-5 {
  font-family: Mulish;
  line-height: 1.4;
  font-size: 1.125rem;
  margin: 34px 570px 0 35px;
}

.u-section-1 .u-text-6 {
  font-family: Mulish;
  line-height: 1.4;
  font-size: 1.125rem;
  margin: -175px 0 60px 615px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-right: 0;
    margin-left: 395px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-4 {
    width: 485px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 405px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 415px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-left: 175px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 185px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 195px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 892px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 344px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-top: -298px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 5px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 217px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-top: -171px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }
}.u-section-2 {
  min-height: 600px;
}

.u-section-2 .u-shape-1 {
  height: 543px;
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -392px calc(((100% - 1140px) / 2) + 723px) 0 calc(((100% - 1140px) / 2) + 55px);
}

.u-section-2 .u-text-2 {
  font-family: Mulish;
  font-size: 3rem;
  font-weight: 800;
  margin: 7px calc(((100% - 1140px) / 2) + 961px) 0 calc(((100% - 1140px) / 2) + 55px);
}

.u-section-2 .u-text-3 {
  font-family: Mulish;
  font-size: 3rem;
  font-weight: 800;
  margin: -10px calc(((100% - 1140px) / 2) + 961px) 0 calc(((100% - 1140px) / 2) + 55px);
}

.u-section-2 .u-text-4 {
  font-family: Mulish;
  font-size: 3rem;
  font-weight: 800;
  margin: -10px calc(((100% - 1140px) / 2) + 961px) 0 calc(((100% - 1140px) / 2) + 55px);
}

.u-section-2 .u-text-5 {
  font-family: Mulish;
  font-size: 3rem;
  font-weight: 800;
  margin: 0 calc(((100% - 1140px) / 2) + 988px) 0 calc(((100% - 1140px) / 2) + 55px);
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  font-family: Mulish;
  margin: -265px calc(((100% - 1140px) / 2) + 728px) 0 calc(((100% - 1140px) / 2) + 209px);
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  font-family: Mulish;
  margin: 25px calc(((100% - 1140px) / 2) + 710px) 0 calc(((100% - 1140px) / 2) + 209px);
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  font-family: Mulish;
  margin: 34px calc(((100% - 1140px) / 2) + 646px) 0 calc(((100% - 1140px) / 2) + 209px);
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  font-family: Mulish;
  margin: 34px calc(((100% - 1140px) / 2) + 728px) 0 calc(((100% - 1140px) / 2) + 209px);
}

.u-section-2 .u-shape-2 {
  width: 510px;
  height: 164px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: -319px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-2 .u-shape-3 {
  width: 510px;
  height: 164px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 28px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-2 .u-image-1 {
  width: 123px;
  height: 123px;
  margin: -336px calc(((100% - 1140px) / 2) + 373px) 0 auto;
}

.u-section-2 .u-image-2 {
  width: 123px;
  height: 123px;
  margin: 70px calc(((100% - 1140px) / 2) + 373px) 0 auto;
}

.u-section-2 .u-text-10 {
  font-family: Mulish;
  font-size: 1.125rem;
  font-weight: 700;
  margin: -324px calc(((100% - 1140px) / 2) + 247px) 0 calc(((100% - 1140px) / 2) + 779px);
}

.u-section-2 .u-text-11 {
  font-family: Mulish;
  line-height: 1.4;
  margin: 4px calc(((100% - 1140px) / 2) + 41px) 0 calc(((100% - 1140px) / 2) + 779px);
}

.u-section-2 .u-text-12 {
  font-family: Mulish;
  line-height: 1.4;
  margin: 83px calc(((100% - 1140px) / 2) + 33px) 0 calc(((100% - 1140px) / 2) + 788px);
}

.u-section-2 .u-text-13 {
  font-family: Mulish;
  font-size: 1.125rem;
  font-weight: 700;
  margin: -144px calc(((100% - 1140px) / 2) + 239px) 0 calc(((100% - 1140px) / 2) + 786px);
}

.u-section-2 .u-icon-1 {
  width: 30px;
  height: 29px;
  color: rgb(255, 193, 7) !important;
  margin: -221px calc(((100% - 1140px) / 2) + 144px) 0 auto;
}

.u-section-2 .u-icon-2 {
  width: 30px;
  height: 29px;
  color: rgb(255, 193, 7) !important;
  margin: -29px calc(((100% - 1140px) / 2) + 110px) 0 auto;
}

.u-section-2 .u-icon-3 {
  width: 30px;
  height: 29px;
  color: rgb(255, 193, 7) !important;
  margin: -29px calc(((100% - 1140px) / 2) + 75px) 0 auto;
}

.u-section-2 .u-icon-4 {
  width: 30px;
  height: 29px;
  color: rgb(255, 193, 7) !important;
  margin: -29px calc(((100% - 1140px) / 2) + 178px) 0 auto;
}

.u-section-2 .u-icon-5 {
  width: 30px;
  height: 29px;
  margin: -29px calc(((100% - 1140px) / 2) + 40px) 0 auto;
}

.u-section-2 .u-icon-6 {
  width: 30px;
  height: 29px;
  color: rgb(255, 193, 7) !important;
  margin: 164px calc(((100% - 1140px) / 2) + 134px) 0 auto;
}

.u-section-2 .u-icon-7 {
  width: 30px;
  height: 29px;
  color: rgb(255, 193, 7) !important;
  margin: -28px calc(((100% - 1140px) / 2) + 100px) 0 auto;
}

.u-section-2 .u-icon-8 {
  width: 30px;
  height: 29px;
  color: rgb(255, 193, 7) !important;
  margin: -30px calc(((100% - 1140px) / 2) + 66px) 0 auto;
}

.u-section-2 .u-icon-9 {
  width: 30px;
  height: 29px;
  color: rgb(255, 193, 7) !important;
  margin: -29px calc(((100% - 1140px) / 2) + 169px) 0 auto;
}

.u-section-2 .u-icon-10 {
  width: 30px;
  height: 29px;
  margin: -29px calc(((100% - 1140px) / 2) + 32px) 0 auto;
}

.u-section-2 .u-icon-11 {
  width: 35px;
  height: 35px;
  margin: 132px calc(((100% - 1140px) / 2) + 238px) 0 auto;
}

.u-section-2 .u-text-14 {
  font-family: Mulish;
  font-size: 2.25rem;
  font-weight: 700;
  width: 603px;
  margin: -512px auto 0;
}

.u-section-2 .u-line-1 {
  width: 56px;
  height: 3px;
  margin: 19px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 578px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 816px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 816px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2) + 816px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2) + 843px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-6 {
    margin-right: calc(((100% - 940px) / 2) + 628px);
    margin-left: calc(((100% - 940px) / 2) + 109px);
  }

  .u-section-2 .u-text-7 {
    margin-right: calc(((100% - 940px) / 2) + 610px);
    margin-left: calc(((100% - 940px) / 2) + 109px);
  }

  .u-section-2 .u-text-8 {
    margin-right: calc(((100% - 940px) / 2) + 546px);
    margin-left: calc(((100% - 940px) / 2) + 109px);
  }

  .u-section-2 .u-text-9 {
    margin-right: calc(((100% - 940px) / 2) + 628px);
    margin-left: calc(((100% - 940px) / 2) + 109px);
  }

  .u-section-2 .u-shape-2 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-shape-3 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + 373px);
  }

  .u-section-2 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2) + 373px);
  }

  .u-section-2 .u-text-10 {
    margin-right: calc(((100% - 940px) / 2) + 147px);
    margin-left: calc(((100% - 940px) / 2) + 679px);
  }

  .u-section-2 .u-text-11 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 679px);
  }

  .u-section-2 .u-text-12 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 621px);
  }

  .u-section-2 .u-text-13 {
    margin-right: calc(((100% - 940px) / 2) + 139px);
    margin-left: calc(((100% - 940px) / 2) + 686px);
  }

  .u-section-2 .u-icon-1 {
    margin-right: calc(((100% - 940px) / 2) + 144px);
  }

  .u-section-2 .u-icon-2 {
    margin-right: calc(((100% - 940px) / 2) + 110px);
  }

  .u-section-2 .u-icon-3 {
    margin-right: calc(((100% - 940px) / 2) + 75px);
  }

  .u-section-2 .u-icon-4 {
    margin-right: calc(((100% - 940px) / 2) + 178px);
  }

  .u-section-2 .u-icon-5 {
    color: rgb(255, 193, 7) !important;
    margin-right: calc(((100% - 940px) / 2) + 40px);
  }

  .u-section-2 .u-icon-6 {
    margin-right: calc(((100% - 940px) / 2) + 134px);
  }

  .u-section-2 .u-icon-7 {
    margin-right: calc(((100% - 940px) / 2) + 100px);
  }

  .u-section-2 .u-icon-8 {
    margin-right: calc(((100% - 940px) / 2) + 66px);
  }

  .u-section-2 .u-icon-9 {
    margin-right: calc(((100% - 940px) / 2) + 169px);
  }

  .u-section-2 .u-icon-10 {
    margin-right: calc(((100% - 940px) / 2) + 32px);
  }

  .u-section-2 .u-icon-11 {
    margin-right: calc(((100% - 940px) / 2) + 238px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 358px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 596px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 596px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + 596px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2) + 623px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-6 {
    margin-right: calc(((100% - 720px) / 2) + 517px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-7 {
    margin-right: calc(((100% - 720px) / 2) + 499px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-8 {
    margin-right: calc(((100% - 720px) / 2) + 435px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-9 {
    margin-right: calc(((100% - 720px) / 2) + 517px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-shape-2 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-shape-3 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2) + 373px);
  }

  .u-section-2 .u-image-2 {
    margin-right: calc(((100% - 720px) / 2) + 373px);
  }

  .u-section-2 .u-text-10 {
    margin-right: calc(((100% - 720px) / 2) + 37px);
    margin-left: calc(((100% - 720px) / 2) + 569px);
  }

  .u-section-2 .u-text-11 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 569px);
  }

  .u-section-2 .u-text-12 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 401px);
  }

  .u-section-2 .u-text-13 {
    margin-right: calc(((100% - 720px) / 2) + 29px);
    margin-left: calc(((100% - 720px) / 2) + 576px);
  }

  .u-section-2 .u-icon-1 {
    margin-right: calc(((100% - 720px) / 2) + 144px);
  }

  .u-section-2 .u-icon-2 {
    margin-right: calc(((100% - 720px) / 2) + 110px);
  }

  .u-section-2 .u-icon-3 {
    margin-right: calc(((100% - 720px) / 2) + 75px);
  }

  .u-section-2 .u-icon-4 {
    margin-right: calc(((100% - 720px) / 2) + 178px);
  }

  .u-section-2 .u-icon-5 {
    margin-right: calc(((100% - 720px) / 2) + 40px);
  }

  .u-section-2 .u-icon-6 {
    margin-right: calc(((100% - 720px) / 2) + 134px);
  }

  .u-section-2 .u-icon-7 {
    margin-right: calc(((100% - 720px) / 2) + 100px);
  }

  .u-section-2 .u-icon-8 {
    margin-right: calc(((100% - 720px) / 2) + 66px);
  }

  .u-section-2 .u-icon-9 {
    margin-right: calc(((100% - 720px) / 2) + 169px);
  }

  .u-section-2 .u-icon-10 {
    margin-right: calc(((100% - 720px) / 2) + 32px);
  }

  .u-section-2 .u-icon-11 {
    margin-right: calc(((100% - 720px) / 2) + 238px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 178px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 416px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 416px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2) + 416px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2) + 443px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-6 {
    margin-right: calc(((100% - 540px) / 2) + 337px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-7 {
    margin-right: calc(((100% - 540px) / 2) + 319px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-8 {
    margin-right: calc(((100% - 540px) / 2) + 255px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-9 {
    margin-right: calc(((100% - 540px) / 2) + 337px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-shape-2 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-shape-3 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2) + 373px);
  }

  .u-section-2 .u-image-2 {
    margin-right: calc(((100% - 540px) / 2) + 373px);
  }

  .u-section-2 .u-text-10 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 426px);
  }

  .u-section-2 .u-text-11 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 426px);
  }

  .u-section-2 .u-text-12 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 221px);
  }

  .u-section-2 .u-text-13 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 425px);
  }

  .u-section-2 .u-icon-1 {
    margin-right: calc(((100% - 540px) / 2) + 144px);
  }

  .u-section-2 .u-icon-2 {
    margin-right: calc(((100% - 540px) / 2) + 110px);
  }

  .u-section-2 .u-icon-3 {
    margin-right: calc(((100% - 540px) / 2) + 75px);
  }

  .u-section-2 .u-icon-4 {
    margin-right: calc(((100% - 540px) / 2) + 178px);
  }

  .u-section-2 .u-icon-5 {
    margin-right: calc(((100% - 540px) / 2) + 40px);
  }

  .u-section-2 .u-icon-6 {
    margin-right: calc(((100% - 540px) / 2) + 134px);
  }

  .u-section-2 .u-icon-7 {
    margin-right: calc(((100% - 540px) / 2) + 100px);
  }

  .u-section-2 .u-icon-8 {
    margin-right: calc(((100% - 540px) / 2) + 66px);
  }

  .u-section-2 .u-icon-9 {
    margin-right: calc(((100% - 540px) / 2) + 169px);
  }

  .u-section-2 .u-icon-10 {
    margin-right: calc(((100% - 540px) / 2) + 32px);
  }

  .u-section-2 .u-icon-11 {
    margin-right: calc(((100% - 540px) / 2) + 179px);
  }

  .u-section-2 .u-text-14 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2) + 216px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2) + 216px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2) + 216px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-5 {
    margin-right: calc(((100% - 340px) / 2) + 243px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-6 {
    margin-right: calc(((100% - 340px) / 2) + 137px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-7 {
    margin-right: calc(((100% - 340px) / 2) + 119px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-8 {
    margin-right: calc(((100% - 340px) / 2) + 55px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-9 {
    margin-right: calc(((100% - 340px) / 2) + 137px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-shape-3 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 340px) / 2) + 217px);
  }

  .u-section-2 .u-image-2 {
    margin-right: calc(((100% - 340px) / 2) + 217px);
  }

  .u-section-2 .u-text-10 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 226px);
  }

  .u-section-2 .u-text-11 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 226px);
  }

  .u-section-2 .u-text-12 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 21px);
  }

  .u-section-2 .u-text-13 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 225px);
  }

  .u-section-2 .u-icon-1 {
    margin-right: calc(((100% - 340px) / 2) + 91px);
  }

  .u-section-2 .u-icon-2 {
    margin-right: calc(((100% - 340px) / 2) + 110px);
  }

  .u-section-2 .u-icon-3 {
    margin-right: calc(((100% - 340px) / 2) + 75px);
  }

  .u-section-2 .u-icon-4 {
    margin-right: calc(((100% - 340px) / 2) + 112px);
  }

  .u-section-2 .u-icon-5 {
    margin-right: calc(((100% - 340px) / 2) + 40px);
  }

  .u-section-2 .u-icon-6 {
    margin-right: calc(((100% - 340px) / 2) + 84px);
  }

  .u-section-2 .u-icon-7 {
    margin-right: calc(((100% - 340px) / 2) + 100px);
  }

  .u-section-2 .u-icon-8 {
    margin-right: calc(((100% - 340px) / 2) + 66px);
  }

  .u-section-2 .u-icon-9 {
    margin-right: calc(((100% - 340px) / 2) + 106px);
  }

  .u-section-2 .u-icon-10 {
    margin-right: calc(((100% - 340px) / 2) + 32px);
  }

  .u-section-2 .u-icon-11 {
    margin-right: calc(((100% - 340px) / 2) + 113px);
  }

  .u-section-2 .u-text-14 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1129px;
}

.u-section-3 .u-text-1 {
  font-family: Mulish;
  font-size: 1.5rem;
  margin: 23px 517px 0 530px;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 603px;
  margin: 0 auto;
}

.u-section-3 .u-line-1 {
  width: 56px;
  height: 3px;
  margin: 29px auto 0;
}

.u-section-3 .u-group-1 {
  width: 550px;
  min-height: 380px;
  margin: 52px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-3 .u-shape-1 {
  margin-left: auto;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin-right: 0;
}

.u-section-3 .u-image-1 {
  width: 170px;
  height: 166px;
  margin: 43px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  font-family: Mulish;
  font-weight: 700;
  margin: 14px auto 0;
}

.u-section-3 .u-text-4 {
  font-family: Mulish;
  font-weight: 300;
  margin: 10px 30px 0;
}

.u-section-3 .u-group-2 {
  width: 550px;
  min-height: 380px;
  margin: -380px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-3 .u-group-3 {
  margin-left: 0;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  min-height: 380px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 26px;
}

.u-section-3 .u-image-2 {
  width: 297px;
  height: 172px;
  margin: 13px auto 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  font-family: Mulish;
  font-weight: 700;
  margin: 11px 62px 0 54px;
}

.u-section-3 .u-text-6 {
  font-family: Mulish;
  font-weight: 300;
  margin: 6px 8px 0 0;
}

.u-section-3 .u-group-4 {
  width: 550px;
  min-height: 380px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding-bottom: 0;
}

.u-section-3 .u-group-5 {
  margin-left: auto;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin-right: 0;
  min-height: 380px;
}

.u-section-3 .u-container-layout-5 {
  padding: 23px 30px;
}

.u-section-3 .u-image-3 {
  width: 183px;
  height: 161px;
  margin: 9px auto 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.5rem;
  font-family: Mulish;
  font-weight: 700;
  width: 206px;
  margin: 33px auto 0;
}

.u-section-3 .u-text-8 {
  font-family: Mulish;
  font-weight: 300;
  margin: 0 26px;
}

.u-section-3 .u-group-6 {
  width: 550px;
  min-height: 380px;
  margin: -380px 0 60px auto;
}

.u-section-3 .u-container-layout-6 {
  padding-bottom: 0;
}

.u-section-3 .u-group-7 {
  margin-left: auto;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin-right: 0;
  min-height: 380px;
}

.u-section-3 .u-container-layout-7 {
  padding: 5px 30px;
}

.u-section-3 .u-image-4 {
  width: 212px;
  height: 160px;
  margin: 32px auto 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.5rem;
  font-family: Mulish;
  font-weight: 700;
  width: 392px;
  margin: 29px auto 0;
}

.u-section-3 .u-text-10 {
  font-family: Mulish;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 417px;
    margin-left: 430px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-3 .u-group-3 {
    margin-left: initial;
    min-height: auto;
  }

  .u-section-3 .u-text-5 {
    width: 383px;
    margin-right: 83px;
  }

  .u-section-3 .u-group-5 {
    margin-left: initial;
    margin-right: initial;
    min-height: auto;
  }

  .u-section-3 .u-group-7 {
    margin-left: initial;
    margin-right: initial;
    min-height: auto;
  }

  .u-section-3 .u-image-4 {
    margin-right: 143px;
    margin-left: 160px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 307px;
    margin-left: 320px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 217px;
    margin-left: 230px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-group-2 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 75px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 21px;
    margin-right: 29px;
  }

  .u-section-3 .u-group-4 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-6 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    margin-right: 138px;
    margin-left: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 117px;
    margin-left: 130px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
  }

  .u-section-3 .u-text-5 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-4 {
    width: 340px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-6 {
    width: 340px;
  }

  .u-section-3 .u-image-4 {
    margin-right: 38px;
    margin-left: 55px;
  }

  .u-section-3 .u-text-9 {
    width: 320px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 743px;
}

.u-section-4 .u-line-1 {
  width: 56px;
  height: 3px;
  margin: -2389px auto 0;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-family: Mulish;
  font-weight: 700;
  margin: 2417px auto 0;
}

.u-section-4 .u-line-2 {
  width: 56px;
  height: 3px;
  margin: 20px auto 0;
}

.u-section-4 .u-shape-1 {
  width: 829px;
  height: 287px;
  margin: 35px auto 0;
}

.u-section-4 .u-text-2 {
  font-family: Mulish;
  font-size: 1.75rem;
  font-weight: 700;
  margin: -262px 588px 0 191px;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  font-family: Mulish;
  font-weight: 700;
  margin: 8px 553px 0 226px;
}

.u-section-4 .u-line-3 {
  height: 150px;
  transform-origin: center bottom;
  width: 1px;
  margin: -140px 587px 0 auto;
}

.u-section-4 .u-image-1 {
  width: 40px;
  height: 39px;
  margin: -140px 511px 0 auto;
}

.u-section-4 .u-text-4 {
  font-family: Mulish;
  font-size: 1.75rem;
  font-weight: 700;
  margin: -44px 249px 0 647px;
}

.u-section-4 .u-icon-1 {
  width: 38px;
  height: 36px;
  background-image: none;
  margin: 29px 511px 0 auto;
}

.u-section-4 .u-text-5 {
  font-family: Mulish;
  font-size: 1.75rem;
  font-weight: 700;
  margin: -44px 430px 0 647px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  font-family: Mulish;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 14px 179px 60px auto;
  padding: 16px 39px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-right: 488px;
    margin-left: 91px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 453px;
    margin-left: 126px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 149px;
    margin-left: 547px;
  }

  .u-section-4 .u-icon-1 {
    margin-right: 421px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 330px;
    margin-left: 547px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-shape-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 359px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 343px;
    margin-left: 16px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 39px;
    margin-left: 437px;
  }

  .u-section-4 .u-icon-1 {
    margin-right: 322px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 220px;
    margin-left: 437px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-shape-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 179px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 179px;
    margin-left: 0;
  }

  .u-section-4 .u-line-3 {
    margin-right: 539px;
  }

  .u-section-4 .u-image-1 {
    margin-right: 500px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 296px;
  }

  .u-section-4 .u-icon-1 {
    margin-right: 242px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 130px;
    margin-left: 347px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-shape-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-line-3 {
    margin-right: 339px;
  }

  .u-section-4 .u-image-1 {
    margin-right: 300px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 96px;
  }

  .u-section-4 .u-icon-1 {
    margin-right: 152px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 30px;
    margin-left: 247px;
  }
}